@import "../../sass/utilities/variables";
@import "../../sass/utilities/mixins";

.discography-container {
  @include pageContainer(grid);
  grid-template-rows: 1fr 15fr;
  @include bgGradient(150deg);

  @include respond-to("mobileSmall") {
    @include bgGradient(121deg);
    min-height: 250vh;
  }
  .title {
    @include title(60px);
    @include respond-to("mobileSmall") {
      font-size: 44px;
    }
    @include respond-to("mobileMedium") {
      font-size: 50px;
    }
    @include respond-to("tabletMedium") {
      font-size: 64px;
    }
    @include respond-to("tabletLarge") {
      font-size: 88px;
    }
  }
  .cds-container {
    display: flex;
    margin: 0 auto;
    @include respond-to("mobileSmall") {
      @include flexAlignCenter(column);
    }
  }
}
