.discography-container {
  display: grid;
  grid-template-rows: 90px 5fr;
  background-image: linear-gradient(
    150deg,
    #1c1a18 60%,
    var(--main-color) 200%
  );
}

.cds-container {
  display: flex;
  margin: 0 auto;
}

@media (orientation: portrait) and (min-width: 320px) {
  .discography-container {
    min-height: calc(260vh - 55px);
    background-image: linear-gradient(
      121deg,
      #1c1a18 60%,
      var(--main-color) 200%
    );
  }
  .cds-container {
    display: flex;
    flex-direction: column;
  }
}
