@import "../utilities/variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
}

body {
  &::-webkit-scrollbar {
    width: 10px;
    background-color: #555;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $main-color;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px #000;
  }

  .main-container {
    background-color: $bg-color;
    color: #fff;
    .link {
      text-decoration: none;
      color: #fff;
    }
  }
}
