@import "../utilities/variables";
@import "../utilities/mixins";

.container-about {
  @include pageContainer(grid);
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-top: 54px;
  @include respond-to("webMedium") {
    @include flexAlignCenter(column);
  }
  @include respond-to("tabletLarge") {
    @include flexAlignCenter(column);
  }

  .record {
    background-size: contain;
    background-image: url("../../assets/record.svg");
    height: 100px;
    width: 100px;
    @include respond-to("webMedium") {
      display: none;
    }
    @include respond-to("tabletLarge") {
      display: none;
    }
  }

  .about-title {
    grid-row: 1 / 2;
    grid-column: 4 / 6;
    white-space: nowrap;
    @include title(35px);
    animation: pop-in 0.7s ease-out forwards;
    @include respond-to("tabletMedium") {
      font-size: 64px;
    }
    @include respond-to("tabletLarge") {
      font-size: 88px;
    }
  }

  .image-about {
    height: 70vh;
    grid-row: 1 / -1;
    grid-column: 1 / 4;
    align-self: center;
    justify-self: center;
    border-top: $border;
    animation: pop-img 0.7s ease-out forwards;
    @include respond-to("webMedium") {
      width: 80vw;
      height: auto;
      animation: pop-in 0.7s ease-out forwards;
    }
  }

  .about-text {
    grid-row: 2 / 4;
    grid-column: 4 / -1;
    margin: auto 15% auto 20px;
    padding-bottom: 70px;
    border-bottom: $border;
    text-align: justify;
    animation: pop-in 0.7s ease-out forwards;
    @include respond-to("webMedium") {
      font-size: 16px;
      margin: 20px;
      padding-bottom: 40px;
      animation: none;
    }
    @include respond-to("mobileLarge") {
      font-size: 20px;
    }
    @include respond-to("tabletMedium") {
      font-size: 24px;
    }
    @include respond-to("tabletLarge") {
      font-size: 30px;
      margin: 30px;
    }
  }

  @keyframes pop-in {
    0% {
      opacity: 0.4;
      transform: translateY(-5rem) scale(0.9);
    }

    100% {
      opacity: 1;
      transform: none;
    }
  }
  @keyframes pop-img {
    0% {
      opacity: 0;
      transform: translateX(-5rem) scale(0.9);
    }

    100% {
      opacity: 1;
      transform: none;
    }
  }
}
