@import "../utilities/variables";
@import "../utilities/mixins";

.clips-container {
  @include pageContainer(flex);
  @include bgGradient(30deg);
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  .clips-title {
    text-align: center;
    @include respond-to("mobileSmall") {
      font-size: 24px;
      margin: 0 20px;
    }
    @include respond-to("mobileMedium") {
      font-size: 28px;
    }

    @include respond-to("tabletMedium") {
      font-size: 40px;
    }
    @include respond-to("tabletLarge") {
      font-size: 55px;
    }
  }
  .clip-yt {
    width: 60vw;
    height: 55vh;
    border: none;
    border-top: $border;
    @include respond-to("mobileSmall") {
      width: 90vw;
      height: 50vw;
    }
  }
}
