@mixin pageContainer($display, $footer: false) {
  display: $display;
  height: calc(100vh - 55px);
  @if $footer {
    height: calc(100vh - 85px);
  }
}

@mixin title($size) {
  align-self: center;
  justify-self: center;
  font-size: $size;
  color: $main-color;
}

@mixin bgGradient($deg) {
  background-image: linear-gradient($deg, $bg-color 60%, $main-color 200%);
}

@mixin flexAlignCenter($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
}

@mixin respond-to($point) {
  @if $point == mobileSmall {
    @media (orientation: portrait) and (min-width: 320px) {
      @content;
    }
  } @else if $point == "mobileMedium" {
    @media (orientation: portrait) and (min-width: 360px) {
      @content;
    }
  } @else if $point == "mobileLarge" {
    @media (orientation: portrait) and (min-width: 411px) {
      @content;
    }
  } @else if $point == "tabletView" {
    @media (orientation: portrait) and (min-width: 550px) {
      @content;
    }
  } @else if $point == "webMedium" {
    @media (max-width: 770px) {
      @content;
    }
  } @else if $point == "webLarge" {
    @media (min-width: 1350px) {
      @content;
    }
  }
}
