@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");

$main-font: "Oswald", sans-serif;
$main-color: #f79c00;
$bg-color: #1c1a18;
$border: solid 3px $main-color;
$breakpoints: (
  "mobileSmall": (
    min-width: 320px,
  ),
  "mobileMedium": (
    min-width: 375px,
  ),
  "mobileLarge": (
    min-width: 414px,
  ),
  "webMedium": (
    max-width: 750px,
  ),
);
