.clips-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-evenly;
}

.clip-yt {
  width: 560px;
  height: 315px;
  /* text-align: center; */
  border: none;
  border-top: solid 3px #f79c00;
  /* align-self: center; */
}

.clips-title {
  color: white;
}
