@import "../sass/utilities/variables";
@import "../sass/utilities/mixins";

.clips-container {
  @include pageContainer(flex);
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-image: linear-gradient(30deg, #1c1a18 60%, var(--main-color) 200%);
}

.clip-yt {
  width: 560px;
  height: 315px;
  border: none;
  border-top: $border;
}
@media (orientation: portrait) and (min-width: 320px) {
  .clips-title {
    font-size: 24px;
    margin: 0 20px;
  }

  .clip-yt {
    width: 90vw;
    height: 32vh;
  }
}
