.contact-container {
  height: calc(100vh - 55px - 30px);
  display: grid;
  grid-template-rows: 3fr 5fr 1fr;
  /* align-items: center; */
  /* justify-content: space-evenly; */
}

.contact-title {
  align-self: center;
  justify-self: center;
  font-size: 80px;
  color: var(--main-color);
  /* border-bottom: solid 2px #f79c00; */
}

.icons-container {
  display: flex;
  align-self: center;
  justify-self: center;
  /* border-bottom: solid #f79c00; */
  /* margin-top: 30px; */
}

.icon-container {
  display: flex;
  flex-direction: column;
  width: 32vw;
  align-items: center;

  /* justify-content: center; */
}

.icon {
  font-size: 80px;
  color: var(--main-color);
  /* align-self: center; */
  /* margin: 0 auto; */
  /* justify-self: center; */
}

.contact-dots {
  font-size: 50px;
  color: white;
}

.contact-text {
  color: white;
  font-size: 28px;
}

.contact-link {
  text-decoration: none;
}

.contact-link:after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.4s;
}

.contact-link:hover::after {
  width: 100%;
}
