@import "../sass/utilities/variables";
@import "../sass/utilities/mixins";

.contact-container {
  @include pageContainer(grid, $footer: true);
  @include bgGradient(341deg);
  grid-template-rows: 3fr 5fr 1fr;
  .title {
    @include title(80px);
  }
  .icons-container {
    @include flexAlignCenter(row);
  }
  .icon-container {
    @include flexAlignCenter(column);
    width: 32.9vw;
  }
  .icon {
    font-size: 80px;
    color: $main-color;
    margin-bottom: 10px;
  }

  .contact-text {
    color: white;
    font-size: 28px;
  }
  .contact-link {
    &:after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: #fff;
      transition: width 0.4s;
    }
    &:hover::after {
      width: 100%;
    }
  }
}

@media (orientation: portrait) and (min-width: 320px) {
  .contact-container {
    min-height: 120vh;
    @include bgGradient(336deg);

    .icons-container {
      flex-direction: column;
    }
    .title {
      font-size: 44px;
    }
    .icon-container {
      height: 33vh;
    }
  }
}

@media (orientation: portrait) and (min-width: 360px) {
  .contact-container {
    min-height: 110vh;
  }
}
