.player-container {
  display: flex;
  justify-content: center;
  background-image: linear-gradient(
    200deg,
    #1c1a18 70%,
    var(--main-color) 200%
  );
}

.music-player {
  width: 70vw;
  align-self: center;
  color: #fff;
  padding-top: 70px;
  border-top: solid 3px var(--main-color);
}

/* @media (orientation: portrait) and (min-width: 320px) {
  .player-container {
    min-height: calc(110vh - 55px);
  }

  .music-player {
    margin-bottom: 70px;
  }
} */
