@import "../../sass/utilities/variables";
@import "../../sass/utilities/mixins";

.player-container {
  @include pageContainer(flex);
  @include bgGradient(200deg);
  justify-content: center;
  @include respond-to("mobileSmall") {
    min-height: 91vh;
  }

  .music-player {
    width: 62%;
    align-self: center;
    color: #fff;
    padding-top: 70px;
    border-top: $border;
    @include respond-to("mobileSmall") {
      width: 85vw;
      padding-top: 30px;
    }
  }
}
