@import "../../sass/utilities/variables";
@import "../../sass/utilities/mixins";

.player-container {
  @include pageContainer(flex);
  @include bgGradient(200deg);
  justify-content: center;

  .music-player {
    width: 62%;
    align-self: center;
    color: #fff;
    padding-top: 70px;
    border-top: $border;
  }
}

@media (orientation: portrait) and (min-width: 320px) {
  .player-container {
    min-height: 90vh;
    .music-player {
      width: 80vw;
      padding-top: 30px;
    }
  }
}
