@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

.main-container {
  background-color: darkblue;
  /* min-height: 100vh; */
}

.pages-container {
  height: calc(100vh - 55px);
}

footer {
  height: 30px;
  border-top: solid 1px black;
}
