.navbar-container {
  display: flex;
  /* flex-direction: column; */
  position: sticky;
  top: 0px;
  width: 100%;
  height: 55px;
  background-color: #000;
  /* opacity: 0.8; */
  /* overflow: hidden; */
}

.navbar-logo-container {
  display: flex;
  flex-basis: 150px;
}

.navbar-logo {
  width: 150px;
  align-self: center;
  margin: 30px 15px 0 15px;
  cursor: pointer;
  /* color: #a6d900; */
  /* justify-self: center; */
  /* vertical-align: middle; */
  /* line-height: 55px; */
  /* text-align: center; */
}

.navbar-items-container {
  margin: auto 0 auto auto;
}

.navbar-items {
  display: flex;
  list-style: none;
  /* align-self: center; */
  /* justify-self: flex-end; */
  /* margin: auto 0; */
  /* flex-direction: column; */
  /* transition: ease 2s; */
}

.navbar-item {
  /* width: 100px; */
  color: #f79c00;
  /* text-align: center; */
  margin-right: 60px;
  /* text-align: center; */
  /* line-height: 55px; */
  /* background-color: yellow; */
  cursor: pointer;
}

.navbar-items > .active {
  /* z-index: 1; */
  /* background-color: yellow; */
  border-bottom: 1px solid #fff;
}
