.navbar-container {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0px;
  width: 100%;
  height: 55px;
  background-color: #666;
  /* overflow: hidden; */
}

.navbar-logo {
  height: 50px;
  /* line-height: 50px; */
  /* text-align: center; */
}

/* .navbar-items {
  display: flex;
  flex-direction: column;
} */
